@using Qt.Domain.Entity
@using Qt.Web
@{
    var dbName = SessionManager.CurrentQtDbConnection == null ? string.Empty : SessionManager.CurrentQtDbConnection.Name;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Query Tool</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <link href="~/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="~/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/kendo.web.min.js")"></script>
        <script src="~/js/kendo.aspnetmvc.min.js")"></script>

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="important">@User.Identity.Name</span>. You are connected to <span class="important">@dbName</span>
                    </section>
                    <nav>
                       @Html.Partial("_Menu")
                    </nav>
                </div>
            </div>
            <input type="hidden" id="DbKey" value="ptrn23"  />
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
           
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Unknown Inc.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
